@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Oswald:wght@300&family=Roboto&family=Shantell+Sans&display=swap');
/* font-family: 'Shantell Sans', cursive; */






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #34495e;
}

.title-of-homepage{
    padding: 13px 0px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    letter-spacing: 3px;
    font-family: 'Shantell Sans', cursive;
}
.title-split, .title-split-2, .title-split-1{
    color: #6c5ce7;
}
.annimation-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dot{
    width: 5px ;
    height: 5px;
    border-radius: 50%;
    background-color: #130f40;
    margin: 1px;
}
.dot{
    animation: animation-test 15s linear  infinite ;
}

@keyframes animation-test{
    0%{
        width: 2px;
    }
    50%{
        width: 150px;
        height: 2px;
        background-color:#1abc9c;
        border-radius: 0%;
    }
    100%{
        width: 2px;
        background-color: red;
        
    }
    

}

.body-area{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-section-area{
    width: 70%;
    height: 280px;
    border: 1px solid rgba(118, 107, 107, 0.4);
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 2px 5px 10px rgba(165, 160, 160, 0.1);
    border-radius: 16px;
    margin-top: 50px;
}
.login-title{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 40px 30px 2px 37px;
    letter-spacing: 2px;
}
.form-area{
    padding: 0px 30px;
}
.form-area input{
    width: 100%;
    height: 40px;
    border-radius: 16px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    padding: 0px 30px;
    
}
.form-area input::placeholder{
    text-transform: capitalize;
    font-size: 16px;
}

.log-in-button button{
    color: white;
    background: #34495e;
    font-size: 20px;
    border-radius: 16px;
    outline: none;
    border: none;
    padding: 1px 20px 4px 20px;
    letter-spacing: 2px;
    font-family: 'Shantell Sans', cursive;
    margin-left: 30px;
    box-shadow: 1px 3px 6px #6c5ce7;
    transition: all 0.2s ease;
}
.log-in-button button:hover{
    box-shadow: 4px 10px 30px #1abc9c,
                -4px 10px 30px #1abc9c,
                4px -10px 30px #1abc9c;
    background-color: #2ecc71;
}

/* .first-page{
    display: none;
} */

.dashbord-area{
width: 80%;
height: 100vh;
/* border: 1px solid red; */
margin: auto;

}
.three-boxes{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

    
}
.box{
    width: 250px;
    height: 130px;
    border-radius: 16px;
    margin: 26px;
    box-shadow: 2px 2px 5px lightgrey,
    -2px -2px 5px lightgrey;
}
.deposit-box{
    background: #f1c40f;
}
.withdraw-box{
    background: #e74c3c;
}
.balance-box{
    background: #2ecc71;
}

.box-heading {
  color: white;
  text-transform: capitalize;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 25px;
}
.two-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.b1{
    box-shadow: 2px 2px 5px lightgrey,
    -2px -2px 5px lightgrey;
    width: 400px;
    height: 150px;
    background: white;
    border-radius: 15px;
    
}
.get1{
    margin-right: 50px;
    background: white;
}

input{
    width: 90%;
    outline: none;
    border: 1px solid lightgrey;
    font-size: 17px;
    height: 35px;
    padding-left: 20px;
    border-radius: 10px;
}
.input1,  .input2{
    padding-left: 15px;
}
input::placeholder{
    text-transform: capitalize;
    color: grey;
}
h3{
    color: #e74c3c;
    text-transform: capitalize;
    padding-left: 15px;
    padding-top: 10px;
}


button{
    color: white;
    background: #34495e;
    font-size: 18px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 15px;
    text-transform: capitalize;
}

.back-btn{
    text-align: center;
    margin-top: 100px;
}
.back-btn a{
        color: white;
        background: #1abc9c;
        padding: 7px 20px;
        border-radius: 13px;
        text-decoration: none;
        font-size: 20px;
        text-transform: capitalize;
        transition: all 0.2s ease-in-out;


}
.back-btn a:hover{
    background-color: #2ecc71;
    box-shadow:  6px 6px 15px #2ecc71,
                 6px -6px 15px #2ecc71,
                -6px 6px 15px #2ecc71,
                -6px -6px 15px #2ecc71;
    
}



.dashbord-area{
    display: none;
}

.deposite-amount{
    font-size: 45px;
    color: white;
    font-weight: bolder;
    padding: 3px 12px;
}

.btn:hover{
   
    transform: scale(1.1);

}
.btn{
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
}